@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
    margin: 10px;
}

section {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.199);
}

p {
    margin: 10px 0px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin: 10px;
}